.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* Espacio entre los elementos */
  padding: 3rem 10%;
  background-color: RGB(4, 4, 12); /* Color de fondo */
}

.spline-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Alinear a la izquierda */
}

#splineCelular {
  width: 100%;
  max-width: 400px; /* Ajusta el tamaño del modelo 3D */
  height: 500px;
  border-radius: 10px;
}

.contact-content {
  flex: 1;
  text-align: justify;
}

.contact-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.contact-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: white;
}

.contact-btn {
  margin-top: -60px; /* Ajusta la posición para que suba más */
  padding: 12px 24px; /* Aumenta el tamaño del botón */
  background: linear-gradient(45deg, #ff5757, #8a2be2);
  color: white;
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
  font-weight: bold;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  white-space: nowrap;
  border: 2px dashed white;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #0056b3;
}
.spline-instruction {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  font-style: italic;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}


/* Responsivo */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    text-align: center;
  }

  .spline-container {
    justify-content: center;
  }

  .contact-content {
    text-align: justify;
  }
}
