<section class="relative h-screen flex flex-col items-center justify-center text-center bg-[url('/assets/fondo.jpg')] bg-no-repeat bg-center bg-cover">
    <!-- Capa oscura -->
    <div class="absolute inset-0 bg-black/90"></div>
    <app-intro-text></app-intro-text>
    
    <!-- Texto PORTAFOLIO -->
    <div class="absolute top-[5%] w-full z-10">
      <div class="flex flex-col items-center justify-center h-screen">
        <span class="hidden sm:block text-[15rem] font-bold text-white leading-none text-center">PORTAFOLIO</span>
        <span class="hidden sm:block text-[15rem] font-bold text-transparent leading-none -mt-4 text-center" style="-webkit-text-stroke: 2px white;">PORTAFOLIO</span>
      </div>
    </div>

    <!-- Versión móvil -->
    <div class="absolute top-[30%] w-full z-10">
      <div class="flex flex-col items-center justify-center h-[30vh]">
        <span class="sm:hidden block text-5xl font-bold text-white leading-none text-center">PORTAFOLIO</span>
        <span class="sm:hidden block text-5xl font-bold text-transparent leading-none -mt-1 text-center" style="-webkit-text-stroke: 1px white;">PORTAFOLIO</span>
      </div>
    </div>
  
    <!-- Avatar con badge -->
    <div class="absolute top-[35%] left-1/2 transform -translate-x-1/2 z-20 flex flex-col items-center">
      <img src="/assets/logo.png" alt="Avatar" class="w-64 h-64 sm:w-[450px] sm:h-[450px] rounded-full animate-[bounce_3s_ease-in-out_infinite]" />
    </div>
  
    <!-- Contenedor Spline -->
    <div class="absolute bottom-0 left-0 w-full h-[30vh] flex justify-center items-end z-10">
      <iframe src="https://my.spline.design/untitled-2f0b1118621ff9ed5b0c6dc4ba63863d/?scale=0.3&position=-0.5,0,0" frameborder="0" class="w-full h-full"></iframe>
    </div>
</section>
  