
/* Contenedor principal */
.intro {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/assets/fondo.jpg') no-repeat center center/cover;
}
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Capa oscura encima de la imagen */
}
/* Avatar con recuadro */
.avatar-container {
  position: absolute;
  top: 20%; /* Lo sube más arriba */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.avatar {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;

}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.badge-gradient {
  margin-top: -60px; /* Ajusta la posición para que suba más */
  padding: 12px 24px; /* Aumenta el tamaño del botón */
  background: linear-gradient(45deg, #ff5757, #8a2be2);
  color: white;
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
  font-weight: bold;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  white-space: nowrap;
  border: 2px dashed white;
  text-transform: uppercase; /* Evita que el texto se divida en varias líneas */
}



/* Texto PORTAFOLIO */
.portfolio-text {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.filled {
  font-size: 11rem;
  font-weight: bold;
  color: white;
  display: block;
}

.outline {
  font-size: 11rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px white;
  display: block;
  margin-top: 20px; /* Aumenta separación */
}

/* Contenedor Spline */
.spline-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.spline-container iframe {
  width: 100%;
  height: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .avatar-container {
    top: 25%;
  }
  .avatar {
    width: 450px;
    height: 350px;
   
   
  }
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content .outline-text {
    font-size: 50px;
    top: 30px;
  }
  .filled {
    font-size: 3rem;
  }
  .outline {
    font-size: 3rem;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .avatar {
    width: 150px;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content .outline-text {
    font-size: 50px;
    top: 20px;
  }
}
